<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
      <div class="container" style = " margin: 5px 5px 5px 5px;  height: 100% " >
        <div class="sidebar-header">
            <h3 style = "text-align: center;">Cloating Menu</h3>
        </div>

        <ul class="list-unstyled components" align="center">
          
            <p style = "text-align: center;">Please select the sshirt that you would like to try on</p>
          
            <li>
                <a href="#"><img src="https://files.slack.com/files-pri/TF6KZUDGD-FFBMYTVRN/ktvtee.png" alt="" style = " height = 200px; width : 200px; margin: 0px auto;"></a>
            </li>
            <li>
                <a href="#"><img src="https://files.slack.com/files-pri/TF6KZUDGD-FFC9ALCQ4/sageismls.png" alt="" style = " height = 200px; width : 200px; margin: 0px auto;"></a>
            </li>
            <li>
                <a href="#" ><img src="https://files.slack.com/files-pri/TF6KZUDGD-FFBMYTVRN/ktvtee.png" alt="" style = " height = 200px; width : 200px;" ></a>
            </li>
            <li>
              <button type="button" id="stop" class="btn btn-danger" style="width: 120px; height: 80px; margin-top: 200px" >
                    <i class="fas fa-align-left"></i>
                    <span>STOP</span>
                </button>
            </li>
        </ul>
        
      </div>
      
    </nav>
    <!-- Page Content -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span id= "toggle">Toggle Sidebar</span>
                </button>
            </div>
        </nav>
    </div>
</div>

<canvas id="camera" style = "width: 75%; position: absolute; top: 0px; right: 0px; border-radius: 10px"></canvas>
<div id='head' style='background-color:red; width: 9px; height: 9px;'></div>
<div id='lefts' style='background-color:red; width: 9px; height: 9px;'></div>
<div id='rights' style='background-color:red; width: 9px; height: 9px;'></div>
<div id='leftw' style='background-color:red; width: 9px; height: 9px;'></div>
<div id='rightw' style='background-color:red; width: 9px; height: 9px;'></div>
