<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<canvas id="camera"></canvas>
<button onclick="toggleGrabFrame()">Stop frame grab</button>
<div id='head' style='background-color:red; width: 9px; height: 9px;'></div>
<div id='lefts' style='background-color:red; width: 9px; height: 9px;'></div>
<div id='rights' style='background-color:red; width: 9px; height: 9px;'></div>
<div id='leftw' style='background-color:red; width: 9px; height: 9px;'></div>
<div id='rightw' style='background-color:red; width: 9px; height: 9px;'></div>