<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<canvas id="camera"></canvas>
<button onclick="toggleGrabFrame()">Stop frame grab</button>
<div id='head' style='background-color:red; width: 9px; height: 9px;'></div>
<div id='lefts' style='background-color:red; width: 9px; height: 9px;'></div>
<div id='rights' style='background-color:red; width: 9px; height: 9px;'></div>
<div id='leftw' style='background-color:red; width: 9px; height: 9px;'></div>
<div id='rightw' style='background-color:red; width: 9px; height: 9px;'></div>

<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
      <div class="container" style = " margin: 5px 5px 5px 5px;  height: 100% " >
        <div class="sidebar-header">
            <h3 style = "text-align: center;">Cloating Menu</h3>
        </div>

        <ul class="list-unstyled components">
          
            <p style = "text-align: center;">Please select the sshirt that you would like to try on</p>
          
            <li  style = "padding: 0px 20% 0px 26% ">
                <a href="#"><img src="https://files.slack.com/files-pri/TF6KZUDGD-FFBMYTVRN/ktvtee.png" alt="" style = " height = 200px; width : 200px; margin: 0px auto;"></a>
            </li>
            <li  style = "padding: 0px 20% 0px 26% ">
                <a href="#"><img src="https://files.slack.com/files-pri/TF6KZUDGD-FFC9ALCQ4/sageismls.png" alt="" style = " height = 200px; width : 200px; margin: 0px auto;"></a>
            </li>
            <li style = "padding: 0px 20% 0px 26% ">
                <a href="#" ><img src="https://files.slack.com/files-pri/TF6KZUDGD-FFBMYTVRN/ktvtee.png" alt="" style = " height = 200px; width : 200px;" ></a>
            </li>
            <li style = "padding: 10% 20% 0px 36% ">
              <button type="button" id="sidebarCollapse" class="btn btn-danger" style = "padding: 20px 20% 20px 20% " >
                    <i class="fas fa-align-left"></i>
                    <span id="stop">STOP</span>
                </button>
            </li>
        </ul>
        
      </div>
      
    </nav>
    <!-- Page Content -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span id= "toggle">Toggle Sidebar</span>
                </button>
            </div>
        </nav>
    </div>
</div>

<canvas id="camera" style = "position: absolute; top: 0px;right: 0px; height: 100%; border-radius: 10px;"></canvas>

